In [5]:
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
db_password

'Gallegos777'

In [6]:
engine = create_engine(f"postgresql+psycopg2://postgres:{db_password}@127.0.0.1:5432/movie_data")

In [7]:
movies_df = pd.read_csv("movies_df.csv")

In [8]:
movies_df.to_sql(name='movies', con=engine)

ValueError: Table 'movies' already exists.

In [24]:
file_dir = 'C:/Users/cecyr/OneDrive/Desktop/Class Work/Individual Projects/Movies-ETL/'

In [26]:
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}ratings_small.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings_small', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 100004...Done. 3.0275583267211914 total seconds elapsed